* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.0rem;
    min-height: auto;
    margin:  0;
    padding: 0;

}

.contenedor * {
    box-shadow: 1px 1px 7px 0px rgb(0, 0, 0);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: auto;
    padding: auto;
    height: auto;
}

img {
    margin: auto;
    padding: auto;
    height: auto;
}

.main {
    grid-area: "main";
    background-color: rgba(64, 80, 172, 0.664);
    margin: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 290px;
    height: 1000px;
    padding: 2px;
}

h2 {
    background-color: blue;
    margin: auto;
    padding: auto;
    height: auto;
}

ul {
    margin: auto;
    padding: auto;
    height: auto; 
}

li {
    margin: auto;
    padding: auto;
    height: auto; 
}

.footer {
    grid-area: "footer";
    background-color: rgba(235, 235, 226, 0.678);
    margin: 5px;
    grid-column-start: 3;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 10;
    width: 500px;
    height: 1000px;
    padding: 2px;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat("main" 30% "footer" 70%);
}
